*{
    margin: 0;
}

header{
    background-color: #110906;
    color: #cbd8cb;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
}

header h1{
    font-family: 'Amaranth';
    font-size: 27px;
    padding-top: 20px;
}

nav{
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(18, 17, 19);
    padding-top: 10px;
}

nav .lists{
    padding-top: 51px;
}

nav .lists a{
	color: #d1c0c1;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #052833;
    text-decoration: none;
}

nav .lists a:hover{
	background-color: #030303;
	color: #ccc;
}

section{
    margin-top: 150px;
    margin-left: 200px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
    z-index: 2;
}
